examplefaces/face1.jpg
examplefaces/face2.jpg
examplefaces/face3.jpg
examplefaces/soldiers/GeorgePatton.jpg
examplefaces/soldiers/IrvinPattison.jpg
examplefaces/soldiers/JacobHarvie.jpg
examplefaces/soldiers/WalterComstock.JPG
pic.jpg
